<!--
  Generated template for the MuralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mural</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ng-container ng-if="!mural">
    Não há mensagem da secretaria!
  </ng-container>

    <ng-container *ngFor="let msg of mural" ng-if="mural">
        <ion-card class="cinza">
            <ion-card-header>
              {{msg.data}}
            </ion-card-header>
            <ion-card-content>
                {{msg.texto}}              
            </ion-card-content>
          </ion-card>
    </ng-container>    


</ion-content>
